<div class="row">
    <div class="span6 offset3">
    	<% if flash.count > 0 %>
			<div class="row">
				<div class="span6">
					<% flash.each do | key, value | %>
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">x</button>
							<%= value %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do | f | %>
		    <legend>Sign In</legend>
		
		    <div class="control-group">
		        <label class="control-label" for="inputEmail">Email</label>
		
		        <div class="controls">
		        	<%= f.text_field :email, :class => "span4", :placeholder => "Email Address" %>
		        </div>
		    </div>
		
		    <div class="control-group">
		        <label class="control-label" for="inputPassword">Password</label>
		
		        <div class="controls">
		            <%= f.password_field :password, :class => "span4", :placeholder => "Password" %>
		        </div>
		    </div>
	
		    <div class="control-group">
		        <div class="controls">
		        	<%= f.submit "Sign in" %>    
		        </div>
		    </div>
		<% end %>
    </div>
</div>